.noItems {
  margin-top: 24px;
  text-align: center;
  font-size: 1.25rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  text-align: left;
  background-color: #6b6b6b;
  color: #fff;
}

.thead th {
  padding: 32px 16px;
}

.baseRow td {
  padding: 16px;
}

.productRow {
  composes: baseRow;
}

.productRow:nth-child(odd) {
  background-color: #dff2fb;
}

.productRow:nth-child(even) {
  background-color: #fff;
}

.vatRow {
  composes: baseRow;
  background-color: #e5ffff;
}

.totalRow {
  composes: baseRow;
  background-color: #b7e4c9;
}

.alignRight {
  text-align: right;
}
